input, textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Navigation Buttons on individual Resource Pages */
.nav-buttons {
    display: flex;
    justify-content: center;
    gap: 20px; /* Adds space between buttons */
    margin-bottom: 20px;
    flex-wrap: wrap; /* Ensures buttons wrap on smaller screens */
}

.nav-buttons button {
    background-color: rgb(35,55,180);
    color: white;
    font-size: 15px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    text-align: center;
    transition: 0.3s ease-in-out;
}

.nav-buttons button:hover {
    background-color: rgba(23, 23, 68, 0.8);
}